/* landing.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* 가로 및 세로 스크롤 막기 */
    height: 100vh; /* 전체 화면 높이 설정 */
    background-color: rgb(14, 14, 14);
    position: relative; /* 중앙 이미지를 위한 상대 위치 */
}

.gallery {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between; /* 두 슬라이드 컨테이너를 좌우로 배치 */
}

.slides {
    height: 100%;
    width: 50%; /* 두 슬라이드 컨테이너가 화면을 반반씩 차지하도록 설정 */
    overflow: hidden; /* 스크롤 막기 */
    position: relative; /* 포지션 상대적으로 설정 */
    display: flex;
    flex-direction: column;
}

.slides-container {
    position: relative; /* 상대 포지션으로 설정 */
    height: 100%; /* 높이를 100%로 설정 */
    transition: transform 0.5s ease; /* 슬라이드 이동 시 부드럽게 변화 */
    display: flex;
    flex-direction: column; /* 슬라이드가 세로로 정렬되도록 설정 */
}

.slide {
    height: 100vh; /* 슬라이드가 전체 화면을 차지하도록 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative; /* 상대 포지션으로 설정하여 자식 요소를 포함하게 함 */
}

.slide img {
    width: 125%; /* 이미지 너비를 부모 요소인 .slide의 너비에 맞춤 */
    height: 105%; /* 이미지 높이를 부모 요소인 .slide의 높이에 맞춤 */
    object-fit: fill; /* 이미지 비율을 유지하지 않고 요소에 꽉 채우도록 조정 */
}

/* 오른쪽 슬라이드의 이미지만 왼쪽으로 이동 */
#slides2 .slide img {
    transform: translateX(-5.7%);
}

/* 중앙 이미지를 위한 스타일 */
.center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px; /* 너비를 183px로 고정 */
    height: 290px; /* 높이를 231px로 고정 */
}

.center-image img {
    width: 100%; /* 부모 요소에 맞춰 너비를 100%로 설정 */
    height: 100%; /* 부모 요소에 맞춰 높이를 100%로 설정 */
    object-fit: contain; /* 이미지 비율을 유지하면서 요소에 맞춰 표시 */
}
