:root {
    --inter-font: "Inter";
}

.119_2068 {
	overflow:hidden;
}
.e119_2068 {
	width:1440px;
	height:1024px;
	position:absolute;
}
.e981_577 {
	width:1439.857177734375px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/background_nogradation_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e188_563 {
	width:981px;
	height:94px;
	position:absolute;
	left:229px;
	top:432px;
}
.e188_609 {
	width:981px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e188_564 {
	background-color:rgba(255, 255, 255, 1);
	width:981px;
	height:94px;
	position:absolute;
	left:0px;
	top:0px;
}
.e188_565 {
	width:38.001373291015625px;
	height:48.32902908325195px;
	position:absolute;
	left:904px;
	top:22px;
}
.e188_566 {
	width:38.001373291015625px;
	height:48.32902908325195px;
	position:absolute;
	left:0px;
	top:0px;
}
.e188_567 {
	border-radius:500px;
	background-color:rgba(255, 255, 255, 0);
	width:31.625558853149414px;
	height:34.0952262878418px;
	position:absolute;
	left:0px;
	top:0px;
}
.e188_568 {
	transform: rotate(47.152060205169555deg);
	width:25px;
	height:0px;
	position:absolute;
	left:21px;
	top:30px;
}
.e188_569 {
	color:rgba(153.41170638799667, 153.41170638799667, 153.41170638799667, 1);
	width:462px;
	height:24px;
	position:absolute;
	left:22px;
	top:35px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e980_574 {
	width:150px;
	height:190px;
	position:absolute;
	left:5px;
	top:0px;
	background-image:url(images/moov_logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e981_578 {
	width:372px;
	height:84.21826171875px;
	position:absolute;
	left:1040px;
	top:33px;
}
.e981_579 {
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e981_580 {
	width:67.69071960449219px;
	height:68.99836730957031px;
	position:absolute;
	left:7.16015625px;
	top:6.7373046875px;
	background-image:url(images/home.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e981_581 {
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:140.4580078125px;
	top:1.8189894035458565e-12px;
}
.e981_582 {
	width:42.30670166015625px;
	height:43.12398147583008px;
	position:absolute;
	left:162.4580078125px;
	top:22.4248046875px;
	background-image:url(images/search.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e981_583 {
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:289.3778381347656px;
	top:0px;
}
.e981_584 {
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e981_585 {
	width:47.38350296020508px;
	height:48.298858642578125px;
	position:absolute;
	left:17.7685546875px;
	top:17.25px;
	background-image:url(images/mypage.png);
	background-repeat:no-repeat;
	background-size:cover;
}
