/* 기본 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* 전역 스타일 */
body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* 컨테이너 스타일 */
.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('/images/background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* 내비게이션 바 스타일 */
nav {
    position: absolute;
    top: 33px;
    right: 170px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav-item {
    width: 82.62px;
    height: 84.22px;
    margin: 0 20px;
    background: linear-gradient(0deg, rgba(198, 105, 78, 1) 0%, rgba(252, 207, 188, 0.78) 50.6%, rgba(246, 247, 233, 1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-circle img {
    width: 67.69px;
    height: 68.99px;
}

/* 로고 이미지 컨테이너 */
.logo-container {
    position: absolute;
    top: -200px;
    z-index: 1;
}

#logo-image {
    width: 170px;
    height: auto;
}

/* 헤더 스타일 */
header {
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    z-index: 0;
}

/* 제목 스타일링 */
.title {
    font-size: 57px;
    color: rgba(30, 30, 30, 1);
    letter-spacing: -2.2px;
    margin: 0;
    margin-left: 20px;
}

/* 장르 이미지 스타일링 */
#header-image {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

/* 인트로 텍스트 스타일링 */
.intro-text {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
    position: absolute;
    top: 260px;
    left: 25px;
    text-align: left;
    width: calc(100% - 50px);
}

/* 장르 아이템 스타일 */
.genre-selection {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 20px;
    padding: 0 20px;
}

/* 장르 아이템 스타일 */
.genre-item {
    width: 170px;
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 15px;
}

.genre-item:hover {
    background-color: #D8BFD8;
    color: #fff;
    transform: scale(1.05);
}

/* 제목 스타일링 */
.genre-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

/* 한글 번역 텍스트 스타일링 */
.genre-translation {
    font-size: 14px;
    color: #555;
}

/* 장르별 아이템 이미지 */
.genre-icon {
    width: 90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* 장르별 아이템 이미지 */
.genre-icon-sf .genre-icon { background-image: url('/images/rec_genre_1/science_fiction.png'); }
.genre-icon-crime .genre-icon { background-image: url('/images/rec_genre_1/crime.png'); }
.genre-icon-horror .genre-icon { background-image: url('/images/rec_genre_1/horror.png'); }
.genre-icon-romance .genre-icon { background-image: url('/images/rec_genre_1/romance.png'); }
.genre-icon-comedy .genre-icon { background-image: url('/images/rec_genre_1/comedy.png'); }
.genre-icon-documentary .genre-icon { background-image: url('/images/rec_genre_1/documentary.png'); }
.genre-icon-animation .genre-icon { background-image: url('/images/rec_genre_1/animation.png'); }
.genre-icon-action .genre-icon { background-image: url('/images/rec_genre_1/action.png'); }
.genre-icon-mystery .genre-icon { background-image: url('/images/rec_genre_1/mystery.png'); }
.genre-icon-music .genre-icon { background-image: url('/images/rec_genre_1/music.png'); }
.genre-icon-fantasy .genre-icon { background-image: url('/images/rec_genre_1/fantasy.png'); }
.genre-icon-western .genre-icon { background-image: url('/images/rec_genre_1/western.png'); }
.genre-icon-adventure .genre-icon { background-image: url('/images/rec_genre_1/adventure.png'); }
.genre-icon-drama .genre-icon { background-image: url('/images/rec_genre_1/drama.png'); }
.genre-icon-thriller .genre-icon { background-image: url('/images/rec_genre_1/thriller.png'); }
.genre-icon-family .genre-icon { background-image: url('/images/rec_genre_1/family.png'); }
.genre-icon-war .genre-icon { background-image: url('/images/rec_genre_1/war.png'); }
.genre-icon-history .genre-icon { background-image: url('/images/rec_genre_1/history.png'); }

/* 페이지가 스크롤 가능하도록 설정 */
html, body {
    height: 100%;
}

.container {
    overflow-y: auto;
    max-height: 100vh;
}
