:root {
    --inter-font: "Inter";
}
/* 기본 스타일 */
body {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
}

/* 영화 세부사항 컨테이너 */
.movie-details {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#poster {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

p {
    margin: 5px 0;
    font-size: 18px;
}

/* 페이지 레이아웃 스타일 */
.789_693 {
    overflow: hidden;
}

.e789_693 {
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e789_694 {
    width: 1440px;
    height: 1024px;
    position: absolute;
    left: -5px;
    top: 0px;
    background-image: url(images/background_nogradation_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e789_695 {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(0deg);
    width: 8px;
    height: 131px;
    position: absolute;
    left: 1392px;
    top: 585px;
}

.e789_696 {
    transform: rotate(0deg);
    background-color: rgba(255, 255, 255, 1);
    width: 8px;
    height: 43px;
    position: absolute;
    left: 0px;
    top: 22px;
    border-radius: 12px;
}

.e789_697 {
    transform: rotate(0deg);
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    width: 6px;
    height: 6px;
    position: absolute;
    left: 1px;
    top: 70px;
}

/* 여기에 e789_698 - e789_704의 스타일이 반복됨 */

/* 컨테이너 스타일 */
.e789_705 {
    width: 439.65px;
    height: 97.65px;
    position: absolute;
    left: 500px;
    top: 868px;
}

.e789_706 {
    border-radius: 500px;
    background-image: linear-gradient(0deg, rgba(198, 105, 78, 1) 0%, rgba(252, 207, 188, 0.78) 50.6%, rgba(246, 247, 233, 1) 100%);
    width: 97.65px;
    height: 97.65px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e789_707 {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 8.46px;
    top: 7.81px;
    background-image: url(images/pngegg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e789_708 {
    border-radius: 500px;
    background-image: linear-gradient(0deg, rgba(198, 105, 78, 1) 0%, rgba(252, 207,
