:root {
    --inter-font: "Inter";
}

body {
    font-family: var(--inter-font), sans-serif;
}

.634_572 {
	overflow:hidden;
}
.e634_572 { 
	background-color:rgba(126.00000008940697, 48.000000938773155, 147.00000643730164, 0.10000000149011612);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e634_580 { 
	background-image:linear-gradient(0deg, rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.30000001192092896) 66.00000262260437%,rgba(196.00000351667404, 104.00000140070915, 79.00000289082527, 1) 100%) ;
	width:1440px;
	height:426px;
	position:absolute;
	left:0px;
	top:290px;
}
.e634_581 { 
	width:372px;
	height:84.21826171875px;
	position:absolute;
	left:1040px;
	top:33px;
}
.e634_582 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e634_583 { 
	width:67.69071960449219px;
	height:68.99836730957031px;
	position:absolute;
	left:7.160584926605225px;
	top:6.737490653991699px;
	background-image:url(images/pngegg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_584 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:140.458251953125px;
	top:0px;
}
.e634_585 { 
	width:42.30670166015625px;
	height:43.12398147583008px;
	position:absolute;
	left:162.45773315429688px;
	top:22.424470901489258px;
	background-image:url(images/pikpng_com_searchicon_png_1092659_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_586 { 
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:289.3778381347656px;
	top:0px;
}
.e634_587 { 
	border-radius:500px;
	background-image:linear-gradient(0deg, rgba(198.68747770786285, 105.10782435536385, 78.81268814206123, 1) 0%,rgba(252.51459896564484, 207.9942575097084, 188.50238263607025, 0.7833999991416931) 50.60000419616699%,rgba(246.0000005364418, 247.00000047683716, 233.00000131130219, 1) 100%) ;
	width:82.6221694946289px;
	height:84.21826171875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e634_588 { 
	width:47.38350296020508px;
	height:48.298858642578125px;
	position:absolute;
	left:17.768840789794922px;
	top:17.249591827392578px;
	background-image:url(images/my_page_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_589 { 
	color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	width:155px;
	height:86px;
	position:absolute;
	left:40px;
	top:195px;
	font-family:Inter;
	text-align:left;
	font-size:57px;
	letter-spacing:-2.200000047683716;
}
.e634_590 { 
	width:70px;
	height:70px;
	position:absolute;
	left:195px;
	top:203px;
	background-image:url(images/1482221_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_591 { 
	color:rgba(0, 0, 0, 1);
	width:543px;
	height:41px;
	position:absolute;
	left:40px;
	top:275px;
	font-family:Inter;
	text-align:left;
	font-size:27px;
	letter-spacing:-2.200000047683716;
}
.e634_600 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:1290px;
	top:308px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e634_601 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:18px;
	position:absolute;
	left:1356px;
	top:308px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.e634_602 { 
	width:150px;
	height:190px;
	position:absolute;
	left:5px;
	top:0px;
	background-image:url(images/moov_logo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_612 { 
	width:200px;
	height:318px;
	position:absolute;
	left:40px;
	top:336px;
	background-image:url(images/life_of_pi_wide.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_616 { 
	width:200px;
	height:318px;
	position:absolute;
	left:272px;
	top:336px;
	background-image:url(images/sunny.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_615 { 
	width:200px;
	height:318px;
	position:absolute;
	left:504px;
	top:336px;
	background-image:url(images/singstreet.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_613 { 
	width:200px;
	height:318px;
	position:absolute;
	left:736px;
	top:336px;
	background-image:url(images/little_forest.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_614 { 
	width:200px;
	height:318px;
	position:absolute;
	left:968px;
	top:336px;
	background-image:url(images/peter_pan.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_607 { 
	width:200px;
	height:318px;
	position:absolute;
	left:1200px;
	top:336px;
	background-image:url(images/forrest_gump_xlg.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_611 { 
	width:200px;
	height:318px;
	position:absolute;
	left:40px;
	top:674px;
	background-image:url(images/life_is_beautiful.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_609 { 
	width:200px;
	height:318px;
	position:absolute;
	left:272px;
	top:674px;
	background-image:url(images/insideout.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_608 { 
	width:200px;
	height:318px;
	position:absolute;
	left:504px;
	top:674px;
	background-image:url(images/grand_budapest_hotel.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_606 { 
	width:200px;
	height:318px;
	position:absolute;
	left:736px;
	top:674px;
	background-image:url(images/eat_pray_love.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_605 { 
	width:200px;
	height:318px;
	position:absolute;
	left:968px;
	top:674px;
	background-image:url(images/about_time.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e634_610 { 
	width:200px;
	height:318px;
	position:absolute;
	left:1200px;
	top:674px;
	background-image:url(images/kamome_diner.png);
	background-repeat:no-repeat;
	background-size:cover;
}
