body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffeb3b;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 36px;
}

#header-image {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 5px;
    object-fit: contain;
}

section {
    margin: 50px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button:hover {
    background-color: #e68900;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.main-text span {
    display: block;
}

#weather-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#weather-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#current-weather-btn {
    background-color: #03a9f4;
}

#current-weather-btn:hover {
    background-color: #0288d1;
}

#select-weather-btn {
    background-color: #4caf50;
}

#select-weather-btn:hover {
    background-color: #388e3c;
}

