body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('/images/background_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1300px; /* 페이지네비게이션을 위한 여백 */
}

/* 로고 이미지 컨테이너 */
.logo-container {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

/* 로고 이미지 스타일링 */
#logo-image {
    width: 170px;
    height: auto;
}

/* 기존 헤더 스타일 */
header {
    position: absolute;
    top: 200px;
    left: 25px;
    display: flex;
    align-items: center;
    z-index: 0;
}

/* 제목 스타일링 */
header h1 {
    font-size: 57px;
    color: #000000; /* 검은색으로 변경 */
    letter-spacing: -2.2px;
    margin: 0;
}

/* 날씨 이미지 스타일링 */
#header-image {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

/* 소개 부분 스타일링 */
.intro {
    position: absolute;
    top: 260px;
    left: 25px;
    width: 90%;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    margin: 0 auto;
}

.weather-condition {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    align-items: center;
    padding: 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 10px;
}

/* 영화 목록 아이템 스타일링 */
.movie-item {
    text-align: center; /* 제목 중앙 정렬 */
}

/* 영화 제목 링크 스타일링 */
.movie-item a {
    text-decoration: none; /* 밑줄 제거 */
    color: #000000; /* 검은색으로 변경 */
}

/* 영화 제목 스타일링 */
.movie-item p {
    color: #000000; /* 검은색으로 변경 */
    margin: 10px 0 0; /* 제목 위쪽 여백 추가 */
    font-size: 18px; /* 제목 폰트 사이즈 조정 */
}

/* 영화 목록 스타일링 */
.movie-gallery {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: center;
}

/* 영화 포스터 스타일링 */
.movie-gallery img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 10px;
}

/* 영화 포스터 마우스 오버 시 효과 */
.movie-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* 페이지네이션 스타일링 */
.pagination {
    position: absolute;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination button {
    background-color: #D8BFD8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 18px;
    margin: 0 10px;
}

/* 페이지가 스크롤 가능하도록 설정 */
html, body {
    height: 100%;
    margin: 0;
}

.container {
    overflow-y: auto;
    max-height: 100vh;
}
