@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E5E5; /* 배경색 */
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background-image: url('/images/rec_weather_1/background_image_4.png'); /* 배경 이미지 경로 */
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: absolute;
    top: 207px;
    left: 25px;
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 57px;
    color: rgba(30, 30, 30, 1);
    letter-spacing: -2.2px;
    margin: 0;
}

#header-image {
    width: 70px;
    height: 70px;
    margin-left: 20px;
}

nav {
    position: absolute;
    top: 33px;
    right: 100px;
    display: flex;
    align-items: center;
}

.nav-item {
    width: 82.62px;
    height: 84.22px;
    margin: 0 20px;
    background: linear-gradient(0deg, rgba(198, 105, 78, 1) 0%, rgba(252, 207, 188, 0.78) 50.6%, rgba(246, 247, 233, 1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-circle {
    width: 67.69px;
    height: 68.99px;
    background-repeat: no-repeat;
    background-size: cover;
}

nav img {
    width: 100%;
    height: auto;
}

section {
    margin-top: 200px;
}

.option {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.option h2 {
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 20px;
    letter-spacing: -1.9px;
}

.option p {
    font-size: 37px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: -1.9px;
}

.option:nth-of-type(2) h2 {
    margin-top: 50px;
}
