<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="login-box">
    <h2 class="login-title">로그인</h2>
    <form action="/perform_login" method="post" class="login-form">
      <div class="form-group">
        <input type="text" class="form-control" id="email_address" name="email_address" placeholder="이메일" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" required>
      </div>
      <button type="submit" class="btn btn-primary btn-login">로그인</button>
    </form>
    <div class="link-container">
      <button type="button" class="btn btn-link">아이디 찾기</button>
      <button type="button" class="btn btn-link">비밀번호 찾기</button>
      <button type="button" class="btn btn-link">회원가입</button>
    </div>
  </div>
</div>
</body>
</html>
