<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>영화 상세 정보</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="rec_feel_fin.css">
</head>
<body>
<div class="movie-details">
    <img id="poster" src="" alt="Movie Poster">
    <h1 id="title"></h1>
    <p id="cast"></p>
    <p id="director"></p>
    <p id="plot"></p>
</div>

<script>
    function getQueryParam(name) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(name);
    }

    window.onload = function() {
        const posterUrl = getQueryParam('poster_url');
        const title = getQueryParam('title');
        const cast = getQueryParam('cast');
        const director = getQueryParam('director');
        const plot = getQueryParam('plot');

        if (posterUrl && title && cast && director && plot) {
            document.getElementById('poster').src = posterUrl;
            document.getElementById('title').textContent = `영화제목 : ${title}`;
            document.getElementById('cast').textContent = `주연 : ${cast}`;
            document.getElementById('director').textContent = `감독 : ${director}`;
            document.getElementById('plot').textContent = plot;
        }
    }
</script>
</body>
</html>
