<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="../static/css/rec_feel_2.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e634_572><div  class="e634_580"></div><div class=e634_581><div  class="e634_582"></div><div  class="e634_583"></div><div  class="e634_584"></div><div  class="e634_585"></div><div class=e634_586><div  class="e634_587"></div><div  class="e634_588"></div></div></div><span  class="e634_589">기분별</span><div  class="e634_590"></div><span  class="e634_591">상처 받은 기분이신 당신께 추천드리는 영화입니다</span><span  class="e634_600">최신순</span><span  class="e634_601">인기순</span><div  class="e634_602"></div><div  class="e634_612"></div><div  class="e634_616"></div><div  class="e634_615"></div><div  class="e634_613"></div><div  class="e634_614"></div><div  class="e634_607"></div><div  class="e634_611"></div><div  class="e634_609"></div><div  class="e634_608"></div><div  class="e634_606"></div><div  class="e634_605"></div><div  class="e634_610"></div></div>
          </body>
          </html>