<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre Based Movie Recommendations</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/rec_genre_2.css">
</head>
<body>
<nav>
    <div class="nav-item">
        <div class="nav-circle">
            <img src="/images/home.png" alt="Home">
        </div>
    </div>
    <div class="nav-item">
        <div class="nav-circle">
            <img src="/images/search.png" alt="Search">
        </div>
    </div>
</nav>
<div class="container">
    <div class="logo-container">
        <img src="/images/moov_logo.png" alt="Moov Logo" id="logo-image">
    </div>
    <header>
        <h1>장르별</h1>
    </header>
    <div class="intro">
        <p id="current-genre">현재 '<span class="selected-genre"></span>' 장르의 영화 목록입니다.</p>
    </div>
    <div class="movie-gallery" id="movie-list">
        <!-- 영화 목록은 JavaScript에서 동적으로 생성됩니다. -->
    </div>
    <div class="pagination" id="pagination">
        <!-- 페이지 네비게이션 버튼과 페이지 번호는 JavaScript에서 동적으로 생성됩니다. -->
    </div>
</div>
<script src="/js/rec_genre_2.js"></script>
</body>
</html>
