<!DOCTYPE html>
<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>moov</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="css/rec_genre_1.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e119_1975><div  class="e736_688"></div><div  class="e119_1976"></div><div class=e119_1995><div  class="e119_1996"></div><div  class="e119_1997"></div><div  class="e119_1998"></div><div  class="e119_1999"></div><div class=e119_2000><div  class="e119_2001"></div><div  class="e119_2002"></div></div></div><span  class="e119_2025">장르별</span><div  class="e119_2027"></div><div  class="e577_629"></div><div  class="e662_643"></div><div  class="e662_644"></div><div  class="e662_645"></div><div  class="e662_646"></div><div  class="e662_647"></div><div  class="e662_648"></div><div  class="e716_673"></div><div  class="e716_674"></div><div  class="e716_675"></div><div  class="e716_676"></div><div  class="e716_677"></div><div  class="e716_679"></div><div  class="e716_680"></div><div  class="e716_681"></div><div  class="e716_682"></div><div  class="e716_684"></div><div  class="e716_685"></div><div  class="e736_687"></div></div>
          </body>
          </html>