<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추천 영화</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/rec_intro.css">
</head>
<body>
<div class="container">
    <div class="logo-container">
        <img src="/images/moov_logo.png" alt="Moov Logo" id="logo-image">
    </div>
    <header>
        <h1 id="header-text">당신만의 영화 여정을 시작해볼까요?</h1>
    </header>
    <nav>
        <div class="nav-item">
            <div class="nav-circle">
                <img src="/images/home.png" alt="Home">
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-circle">
                <img src="/images/search.png" alt="Search">
            </div>
        </div>
        <div class="nav-item">
            <div class="nav-circle">
                <img src="/images/mypage.png" alt="Profile">
            </div>
        </div>
    </nav>
    <section>
        <a href="/rec_feel_1" class="option-link">
            <div class="option">
                <h2>기분별</h2>
                <img src="/images/feel.png" alt="기분별 이미지" class="option-image">
            </div>
        </a>
        <a href="/rec_genre_1" class="option-link">
            <div class="option">
                <h2>장르별</h2>
                <img src="/images/genre.png" alt="장르별 이미지" class="option-image">
            </div>
        </a>
        <a href="/rec_weather_1" class="option-link">
            <div class="option">
                <h2>날씨별</h2>
                <img src="/images/weather.png" alt="날씨별 이미지" class="option-image">
            </div>
        </a>
    </section>

    <!-- 수정된 검색 박스 -->
    <div class="search-container">
        <div class="search-wrapper">
            <form id="search-form" action="/movies" method="get">
                <input type="text" name="query" placeholder="찾는 추천이 없으시면 검색해보세요." class="search-input">
                <button type="submit" class="search-button">
                    <img src="/images/search2.png" alt="Search">
                </button>
            </form>
        </div>
    </div>

</div>
<script src="/js/rec_intro.js"></script>
</body>
</html>
