<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>기분별</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=YiSunShin+Bold&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/rec_feel_1.css">

    <style>
        /*
          Figma Background for illustrative/preview purposes only.
          You can remove this style tag with no consequence
        */
        body { background: #E5E5E5; }
    </style>
</head>
<body>
<h1>Feeling Recommendation 1</h1>
<p>이 페이지는 기분에 따른 추천 1 페이지입니다.</p>
<a href="rec_feel_2.html">Next Page</a>
</body>
<body>
<div class="e119_1836">
    <div class="e119_1837"></div>
    <div class="e119_1838"></div>
    <div class="e119_1839"></div>
    <div class="e119_1840">
        <div class="e119_1841"></div>
        <div class="e119_1842"></div>
        <div class="e119_1843"></div>
        <div class="e119_1844"></div>
        <div class="e119_1845">
            <div class="e119_1846"></div>
            <div class="e119_1847"></div>
        </div>
    </div>
    <span class="e119_1870">기분별</span>
    <span class="e119_1871">긍정</span>
    <span class="e119_1872">부정</span>
    <span class="e119_1873">중립</span>
    <div class="e119_1875"></div>
    <span class="e119_1876">흥분된</span>
    <span class="e119_1877">만족스러운</span>
    <span class="e119_1878">감사하는</span>
    <span class="e119_1879">사랑하는</span>
    <span class="e119_1880">자랑스러운</span>
    <span class="e119_1881">편안한</span>
    <span class="e119_1882">평온한</span>
    <span class="e119_1883">즐거운</span>
    <span class="e119_1884">힐링되는</span>
    <span class="e119_1885">활기찬</span>
    <span class="e119_1886">열정적인</span>
    <span class="e119_1887">감동적인</span>
    <span class="e119_1888">안정된</span>
    <span class="e119_1889">행복한</span>
    <span class="e119_1890">기쁜</span>
    <span class="e119_1891">슬픈</span>
    <span class="e119_1892">화난</span>
    <span class="e119_1893">실망한</span>
    <span class="e119_1894">걱정되는</span>
    <span class="e119_1895">불안한</span>
    <span class="e119_1896">짜증나는</span>
    <span class="e119_1897">외로운</span>
    <span class="e119_1898">상처받은</span>
    <span class="e119_1899">지친</span>
    <span class="e119_1900">불쾌한</span>
    <span class="e119_1901">두려운</span>
    <span class="e119_1902">질투하는</span>
    <span class="e119_1903">불만족스러운</span>
    <span class="e119_1904">무기력한</span>
    <span class="e119_1905">혼란스러운</span>
    <span class="e119_1906">평범한</span>
    <span class="e119_1907">무덤덤한</span>
    <span class="e119_1908">중립적인</span>
    <span class="e119_1909">차분한</span>
    <span class="e119_1910">궁금한</span>
    <span class="e119_1911">어리둥절한</span>
    <span class="e119_1912">경계하는</span>
    <span class="e119_1913">기계적인</span>
    <span class="e119_1914">무관심한</span>
    <span class="e119_1915">신중한</span>
    <div class="e187_700">
        <img src="../static/images/rec_feel_1/moov_logo.png" alt="Moov Logo" class="logo">
    </div>
    <a href="/login">Go back to Login</a>
</div>
</body>
</html>
