<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/rec_feel_fin.css">
    <style>
        /* Figma Background for illustrative/preview purposes only. You can remove this style tag with no consequence */
        body { background: #E5E5E5; }
    </style>
</head>
<body>
<div class="e119_1918">
    <div class="e119_1919">
        <div class="e119_1920"></div>
        <div class="e119_1921"></div>
        <div class="e119_1922"></div>
        <div class="e119_1923"></div>
        <div class="e119_1924"></div>
        <div class="e119_1925"></div>
        <div class="e119_1926"></div>
        <div class="e119_1927"></div>
        <div class="e119_1928"></div>
    </div>
    <div class="e119_1929">
        <div class="e119_1930"></div>
        <div class="e119_1931"></div>
        <div class="e119_1932"></div>
        <div class="e119_1933"></div>
        <div class="e119_1934">
            <div class="e119_1935"></div>
            <div class="e119_1936"></div>
        </div>
    </div>
    <div class="e119_1937"></div>
    <div class="e119_1938"></div>
    <span class="e119_1945">주연 : 류준열<br>감독 : 임순례</span>
    <span class="e198_569">영화제목 : 리틀 포레스트</span>
    <span class="e119_1947">
            오늘은 오랜만에 여유를 만끽한 하루였습니다. 아침 일찍 일어나 상쾌한 공기를 마시며 등산을 다녀왔어요. 자연 속에서의 산책은 몸과 마음을 정화시켜 주는 것 같아요. 산 정상에서 내려다보는 풍경은 그야말로 절경이었죠.
            <br><br>
            영화 '돈'은 2019년에 개봉한 한국 영화로, 박누리 감독이 연출하고 류준열, 유지태, 조우진 등이 출연합니다. 조일현은 대학 졸업 후 증권사에 입사하지만, 아무런 연줄도 없이 승진의 꿈을 꾸기 어려운 상황입니다. 그러던 중 그는 미스터리한 작전 세력의 리더인 번호표(유지태 분)를 만나 큰 돈을 벌 수 있는 기회를 잡게 됩니다. 일현은 번호표의 도움으로 주가 조작에 가담하게 되고, 엄청난 부를 쌓게 되지만, 그에 따른 위험과 윤리적 딜레마에 직면하게 됩니다.
        </span>
</div>
</body>
</html>
