<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Based Movie Recommendations</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/rec_weather_2.css"> <!-- 실제 CSS 파일 경로로 수정 -->
</head>
<body>
<div class="container">
    <!-- 로고 컨테이너 추가 -->
    <div class="logo-container">
        <img src="/images/moov_logo.png" alt="Moov Logo" id="logo-image">
    </div>
    <header>
        <h1>날씨별</h1>
        <img src="/images/weather.png" alt="날씨 이미지" id="header-image">
    </header>
    <div class="intro">
        <p id="current-weather">현재 '<span class="weather-condition"></span>' 날씨에 알맞는 영화입니다.</p>
    </div>
    <div class="movie-gallery" id="movie-list"></div>
    <!-- 페이지 네비게이션 컨테이너 추가 -->
    <div class="pagination" id="pagination"></div>
</div>
<script src="/js/rec_weather_2.js"></script> <!-- 실제 JavaScript 파일 경로로 수정 -->
</body>
</html>
