<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="rec_fe_intro.css">

    <style>
        /*
          Figma Background for illustrative/preview purposes only.
          You can remove this style tag with no consequence
        */
        body {background: #E5E5E5; }
    </style>

</head>

<body>
<div class=e119_1736><div  class="e119_1737"></div><div  class="e119_1738"></div><div class=e119_1739><div  class="e119_1740"></div><div  class="e119_1741"></div><div  class="e119_1742"></div><div  class="e119_1743"></div><div class=e119_1744><div  class="e119_1745"></div><div  class="e119_1746"></div></div></div><div class=e119_1747><div  class="e119_1748"></div><div class=e119_1749><div class=e119_1750><div  class="e119_1751"></div><div  class="e119_1752"></div></div></div><span  class="e119_1753">예) 찾는 추천이 없으시면 검색해보세요.</span></div><span  class="e119_1776"> 장르별</span><span  class="e119_1777">기분별</span><span  class="e119_1778">날씨별</span><span  class="e119_1779">영화 추천 받으실래요?</span><div  class="e119_1781"></div><div  class="e119_1782"></div></div>
</body>
</html>